/* CSS declarations go here */
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

div.board {
  width: 80%;
  height: 80%;
  background: #A0D4D5;
  position: relative;
}

.card {
  width: 10%;
  background: #637E95;
  word-wrap: break-word;
}

.card .delete {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: rgba(255,255,255,0.5);
  outline:none;
}

.card p {
  color: #E1E1E2;
  font-family: 'Oswald', sans-serif;
}
